/* 悟空源码（5kym.com）做最好的织梦整站模板下载网站 */
@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: url(../images/bg.jpg);
	font-family: "΢���ź�";
}
img {
	border: 0px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix {
*zoom:1;
}
.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
input, select, area, textarea {
	outline: 0;
	-moz-outline: 0;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
}
.auto {
	width: 1000px;
	margin: 0 auto;
}
em, i {
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, b {
	font-weight: normal;
}
.flexslider {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.slides {
	position: relative;
	z-index: 1;
	font-size: 0;
}
.slides li {
	width: 100%;
	height: auto;
	position: relative;
	font-size: 0;
}
.slides li a {
	display: block;
	font-size: 0;
	width: 100%;
	height: 100%;
}
.slides li a img {
	width: 100%;
	height: auto;
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 2%;
	z-index: 2;
	right: 0;
	text-align: center;
}
.flex-control-nav li {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 5px;
*display:inline;
	zoom: 1;
}
.flex-control-nav a {
	display: inline-block;
	width: 9px;
	height: 9px;
	line-height: 40px;
	overflow: hidden;
	background: #FFFFFF;
	cursor: pointer;
}
.flex-control-nav .flex-active {
	background: #ff7964;
}
.flex-direction-nav {
	z-index: 3;
	left: 0;
	width: 100%;
	top: 45%;
}
.flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}
.head {
	width: 100%;
	height: 92px;
	overflow: hidden;
	background: #FFFFFF;
}
.logo_img {
	font-size: 0;
}
.menu {
	width: 52%;
	margin-left: 3%;
}
.menu li {
	float: left;
	line-height: 92px;
	font-size: 14px;
	padding: 0 3%;
}
.menu li a {
	color: #000000;
	padding-bottom: 10px;
}
.menu li.hover a {
	color: #ff7964;
	border-bottom: 4px solid #ff7964;
}
.menu li:hover a {
	color: #ff7964;
	border-bottom: 4px solid #ff7964;
	transition-duration: 0.5s;
}
.search input {
	width: 90px;
	height: 92px;
	background: #764d28 url(../images/7.png) no-repeat center center;
	border: 0;
	cursor: pointer;
}
#fx .fx {
	margin-right: 25px;
}
#fx .fx a {
	display: block;
	width: 31px;
	height: 31px;
	float: left;
	margin-top: 30px;
	margin-right: 15px;
}
#fx .fx1 {
	background: url(../images/2.png) no-repeat;
}
#fx .fx2 {
	background: url(../images/3.png) no-repeat;
}
#fx .fx3 {
	background: url(../images/5.png) no-repeat;
}
#fx .fx1:hover {
	background: url(../images/1.png) no-repeat;
	transition-duration: 0.5s;
}
#fx .fx2:hover {
	background: url(../images/4.png) no-repeat;
	transition-duration: 0.5s;
}
#fx .fx3:hover {
	background: url(../images/6.png) no-repeat;
	transition-duration: 0.5s;
}
.foot {
	width: 100%;
	background: #f1f1f1;
	border-top: 1px solid #dcdcdc;
	padding: 40px 0;
}
.foot_p {
	color: #414141;
	text-align: center;
	line-height: 30px;
}
.foot_logo {
	display: block;
	text-align: center;
	padding-top: 10px;
}
