/* 悟空源码（5kym.com）做最好的织梦整站模板下载网站 */
@charset "utf-8";
/* CSS Document */
.ly_title {
	width: 100%;
	height: 68px;
	line-height: 68px;
	border-bottom: 1px solid #ededed;
	background: #FFFFFF;
	text-align: center;
	font-size: 14px;
}
.ly_title li {
	display: inline-block;
	width: 90px;
	height: 68px;
	position: relative;
}
.ly_title li a {
	color: #000000;
	padding-bottom: 10px;
}
.ly_title li span {
	display: inline-block;
	width: 15px;
	height: 4px;
	background: #FFFFFF;
	opacity: 0;
	position: absolute;
	bottom: 15px;
	left: 38px;
}
.ly_title li:hover {
	background: #ff7964;
	transition-duration: 0.5s;
	cursor: pointer;
}
.ly_title li:hover a {
	color: #FFFFFF;
	transition-duration: 0.5s;
}
.ly_title li:hover span {
	opacity: 1;
	transition-duration: 0.5s;
}
.ly_title li.hover {
	background: #ff7964;
}
.ly_title li.hover a {
	color: #FFFFFF;
}
.ly_title li.hover span {
	opacity: 1;
}
.ly_con {
	padding: 20px 0;
}
.fw_left {
	width: 645px;
}
.fw_title {
	font-size: 24px;
	padding-bottom: 15px;
	display: block;
}
.fw_p {
	color: #707070;
	line-height: 24px;
}
.about_left {
	width: 435px;
}
.al_title, .al_p {
	width: 345px;
	margin-left: 40px;
}
.al_title em {
	font-family: arial;
	font-size: 48px;
	font-weight: bold;
	color: #ebebea;
	vertical-align: middle;
}
.al_title span {
	font-size: 30px;
	color: #805228;
	font-weight: bold;
	padding-left: 10px;
}
.al_title a {
	display: block;
	width: 60px;
	height: 6px;
	background: #815228;
	margin-top: 20px;
}
.al_p {
	color: #b4b4b4;
	padding: 25px 0 35px 0;
}
.about_right {
	width: 545px;
	padding: 0 10px;
}
.ar_p {
	color: #818181;
	line-height: 27px;
}
.team_title {
	position: relative;
}
.te_p {
	font-family: arial;
	font-size: 48px;
	font-weight: bold;
	color: #ebebea;
}
.te_a {
	display: block;
	width: 60px;
	height: 6px;
	background: #815228;
	margin-top: 20px;
}
.te_em {
	font-size: 30px;
	color: #805228;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 260px;
}
.te_en {
	color: #b4b4b4;
	width: 600px;
	position: absolute;
	top: 60px;
	left: 150px;
}
.team_src {
	margin-top: 50px;
	width: 996px;
	height: 193px;
	position: relative;
	overflow: hidden;
}
.team_ul {
	height: 193px;
	position: absolute;
	top: 0;
	left: 0;
}
.team_ul li {
	width: 166px;
	height: 193px;
	font-size: 0;
	float: left;
}
.team_left, .team_right {
	width: 43px;
	height: 43px;
	display: block;
	background: url(../images/19.png) no-repeat;
	font-family: "宋体";
	font-size: 30px;
	color: #FFFFFF;
	position: absolute;
	top: 75px;
	text-align: center;
	line-height: 43px;
	cursor: pointer;
}
.team_left {
	left: 0;
}
.team_right {
	right: 0;
}
.team_left:hover, .team_right:hover {
	background: url(../images/20.png) no-repeat;
	transition-duration: 0.5s;
}
.team_xq {
	width: 1000px;
	background: #FFFFFF;
	box-shadow: 0 0 20px #56545c;
	-webkit-box-shadow: 0 0 20px #56545c;
	position: fixed;
	z-index: -1;
	opacity: 0;
}
.tx_con {
	width: 895px;
	margin: 0 auto;
	padding: 50px 0;
	position: relative;
}
.tx_right {
	width: 530px;
}
.tr_dt {
	font-size: 18px;
	color: #764d28;
	line-height: 30px;
}
.tr_dt span {
	display: block;
	font-size: 24px;
	color: #764d28;
}
.tr_dd {
	color: #787878;
	line-height: 26px;
	border-bottom: 2px solid #a9a9a9;
	padding: 35px 0;
}
.tx_btn {
	position: absolute;
	bottom: 50px;
	left: 365px;
}
.tx_btn span {
	display: block;
	width: 31px;
	height: 31px;
	background: #FFFFFF;
	border: 1px solid #bebebe;
	float: left;
	font-family: "宋体";
	font-size: 14px;
	color: #bebebe;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
	margin-right: 10px;
}
.tx_btn span:hover {
	background: #764d28;
	border: 1px solid #764d28;
	color: #FFFFFF;
}
.team_close {
	position: absolute;
	top: -18px;
	right: -18px;
}
.honor_top {
	width: 100%;
	overflow: hidden;
	padding: 30px 0;
}
.honor_top ul {
	width: 150%;
}
.honor_top li {
	float: left;
	line-height: 30px;
	padding-left: 10px;
	background: url(../images/22.png) no-repeat left center;
	width: 360px;
	margin-right: 200px;
}
.honor_top li a {
	color: #030303;
}
.honor_bottom {
	width: 100%;
	height: 173px;
	position: relative;
	overflow: hidden;
}
.honor_ul {
	height: 173px;
	position: absolute;
	top: 0;
	left: 0;
}
.honor_ul li {
	width: 237px;
	height: 173px;
	float: left;
	margin-right: 17px;
	cursor: pointer;
}
.honor_pos {
	width: 499px;
	height: 377px;
	background: #FFFFFF;
	font-size: 0;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: -1;
	box-shadow: 0 0 20px #56545c;
	-webkit-box-shadow: 0 0 20px #56545c;
	opacity: 0;
}
.honor_pos p {
	padding: 25px;
}
.map_title {
	display: block;
	font-size: 24px;
}
.map_ul {
	padding: 5px 0 20px 0;
}
.map_ul li {
	line-height: 50px;
	font-size: 14px;
	border-bottom: 1px solid #707070;
	margin-bottom: 10px;
	padding-left: 30px;
}
.m1 {
	background: url(../images/m1.png) no-repeat left center;
}
.m2 {
	background: url(../images/m2.png) no-repeat left center;
}
.m3 {
	background: url(../images/m3.png) no-repeat left center;
}
.map_p {
	color: #606060;
	padding: 20px 0 15px 0;
}
.map_form {
	width: 1000px;
	height: 502px;
	background: url(../images/mbg.jpg) no-repeat;
}
.map_auto {
	width: 660px;
	margin-left: 80px;
	padding-top: 50px;
}
.map_auto li {
	margin-bottom: 18px;
}
.ml_txt1 {
	padding: 10px 15px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
}
.ml_txt1 input {
	width: 560px;
	margin-left: 10px;
	border: 0;
	font-family: "微软雅黑";
}
.ml_txt2 {
	padding: 10px 15px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
	position: relative;
}
.ml_txt2 span {
	position: absolute;
	width: 70px;
	height: 24px;
	display: block;
	line-height: 24px;
}
.ml_txt2 textarea {
	border: 0;
	width: 630px;
	height: 70px;
	font-size: 14px;
	color: #787878;
	line-height: 24px;
	text-indent: 5em;
	font-family: "微软雅黑";
}
.ml_btn input {
	width: 100px;
	height: 36px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "微软雅黑";
	border: 0;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.sub {
	background: #a36227;
}
.res {
	background: #676767;
}
.new_dl {
	padding-bottom: 40px;
	cursor: pointer;
}
.new_dt span {
	display: inline-block;
	padding: 2px 5px;
}
.new_dt a {
	display: block;
	color: #272727;
	line-height: 40px;
font-weight:bold;font-size:20px;

}
.new_dt em {
	display: block;
	width: 65px;
	height: 5px;
	border-bottom: 1px solid #888888;
}
.new_dd {
	color: #707070;
	line-height: 26px;
	margin-top: 15px;
}
.new_dl:hover .new_dt span {
	background: #ff7964;
	color: #FFFFFF;
	transition-duration: 0.5s;
}
.page {
	text-align: center;
}
.page a {
	font-size: 14px;
	color: #707070;
	display: inline-block;
	padding: 0 15px;
}
.page a.next {
	font-family: "宋体";
}
.new_title {
	border-bottom: 1px solid #999999;
}
.new_title p {
	font-size: 18px;
	font-weight: bold;
	color: #272727;
}
.new_title span {
	color: #999999;
	background: url(../images/n1.png) no-repeat left center;
	padding-left: 20px;
	display: block;
	line-height: 50px;
	margin-top: 10px;
}
.newxq_con {
	margin: 40px 0;
}
.new_p {
	color: #707070;
	line-height: 26px;
}
.sx {
	border-top: 1px solid #999999;
	padding-top: 40px;
}
.zp_dl {
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 25px;
	margin-bottom: 40px;
	cursor: pointer;
}
.zp_dt {
	width: 58px;
	height: 58px;
	background: url(../images/y2.png) no-repeat;
	line-height: 58px;
	color: #8f8f8f;
	font-family: arial;
	font-size: 30px;
	margin-top: 20px;
}
.swfupload {
	text-align: center;
	left: 0;
}
.zp_dd {
	width: 920px;
	line-height: 28px;
}
.zd_a a {
	color: #ff0000;
}
.zd_ul {
	color: #797979;
}
.zd_ul li {
	width: 50%;
	float: left;
}
.zd_p {
	color: #797979;
	width: 800px;
}
.zp_dl:hover .zp_dt {
	background: url(../images/y1.png) no-repeat;
	color: #000000;
	transition-duration: 0.5s;
}
.zp_pos {
	width: 560px;
	background: #FFFFFF;
	position: fixed;
	top: 100px;
	left: 100px;
	z-index: -1;
	opacity: 0;
	box-shadow: 0 0 20px #56545c;
	-webkit-box-shadow: 0 0 20px #56545c;
}
.zp_auto {
	width: 475px;
	margin: 0 auto;
	padding: 30px 0;
}
.zp_title {
	font-size: 24px;
	color: #1c1c1c;
	text-align: center;
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 10px;
}
.zp_ts {
	color: #4a4a4a;
	line-height: 50px;
	text-align: center;
}
#file_upload, .zp_sc {
	width: 102px;
	height: 32px;
	display: block;
	margin: 0 auto;
	background: #9f6027;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0;
}
.zp_btn {
	text-align: center;
}
.zp_btn a {
	width: 102px;
	height: 32px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 10px;
}
.zb1 {
	background: #999999;
}
.zb2 {
	background: #686868;
}
