
/* 织梦58（dede58.com）做最好的织梦整站模板下载网站 */

@media only screen and (max-width:1600px) { /*1360px*/
.wrapper {
	width: 1000px;
}
.page1 .arrow {
	display: none;
}
.slide-wrap li .wrap {
	margin-top: -200px;
}
.slide-wrap li#s1 .img img {
	/*width: 570px;*/
	width: 540px;
}
.slide-wrap li#s1 .text {
	width: 570px;
	margin: 0 auto;
	text-align: left;
	margin-top: -50px;
}
.slide-wrap li#s1 .text img {
	width: 130px;
	margin-left: 60px;
}
.slide-wrap li#s2 .img img {
	/*width: 552px;*/
	width: 522px;
}
.slide-wrap li#s2 .quan img {
	/*width: 120px;*/
	width: 100px;
}
.slide-wrap li#s3 .img img {
	/*width: 680px;*/
	width: 650px;
}
.page2 .wrapper {
	width: 1200px;
}
.page2 li .wrap {
	margin-top: -170px;
}
.slide-wrap li .img img {
}
.page3 .wrapper {
	margin-left: -500px;
	margin-top: -110px;
}
.page3 .head {
}
.page3 .body li.last {
	display: none;
}
.page3 .body li {
	width: 240px;
	height: 160px;
	margin-right: 15px;
}
.page4 .wrapper {
	margin-left: -500px;
	margin-top: -170px;
}
.page4 .head {
}
.page4 .head .img {
	margin-left: 0;
}
.page4 .head .list {
	left: 515px;
}
.page4 .head .list dl#dl1 {
	width: 290px;
}
.page4 .head .list dl#dl2 {
	width: 178px;
}
.page4 .body {
	margin-top: 35px;
}
.page4 .list li {
	height: 250px;
	margin-right: 30px;
}
.page4 .list li.last {
	display: none;
}
.page4 .view {
	padding-top: 90px;
}
.page4 .mask {
	padding-top: 30px;
}
.page4 .mask h2 {
	margin-top: 10px;
}
.page4 .mask hr,  .page4 .mask p {
	margin-top: 10px;
}
.page5 .wrapper {
	margin-left: -500px;
	margin-top: -170px;
}
.page5 .img-wrap {
	width: 400px;
}
.page5 .img-wrap .img1 {
	width: 300px;
	margin-top: 35px;
}
.page5 .img-wrap .img1 img {
	width: 100%;
}
.page5 .img-wrap .img2 {
	left: 35px;
	top: 35px;
}
.page5 .img-wrap .img4 {
	text-align: right;
	padding-right: 8px;
}
.page5 .text {
	margin-left: 70px;
}
.page5 .text p {
	margin-bottom: 25px;
}
.page5 .text p.last {
	display: none;
}
.page5 .text p.more {
	display: block;
}
.page5 .nav {
	width: 200px;
}
.page6 .wrapper {
	margin-left: -500px;
	margin-top: -160px;
}
.page6 .img {
	margin-left: 325px;
}
.page6 .img .quan {
	width: 200px;
}
.page6 .img .wen {
	width: 129px;
	left: 135px;
	top: 55px;
}
.page6 .img img {
	width: 100%;
}
.page6 .time {
	width: 325px;
	position: relative;
	top: -10px;
}
.page6 .time h2 {
	margin-top: 3px;
}
.page6 .tele {
	width: 560px;
	float: left;
}
.page6 .tele .tel {
	width: 480px;
}
.page6 .tele .qq {
	margin-top: 20px;
}
.page6 .text {
	margin-top: 20px;
}
.page6 .info {
	width: 1000px;
	margin-left: -500px;
	bottom: 20px;
}
.page6 .info ul {
	width: 325px;
}
.pad-hide {
	display: none;
}
.nav_main h1 {
	display: none;
}
}
 @media only screen and (max-width:800px) { /*480*/
body {
	width: 640px;
	margin: 0 auto !important;
	overflow: hidden;
	background: #000;
}
.wrapper {
	width: auto;
}
#fp-nav {
	display: none;
}
.gb-header, .gb-nav {
	width: 640px;
	left: 50%;
	margin-left: -320px;
}
.header .logo, .gb-nav .logo {
	margin-left: 40px;
}
.gb-header {
	display: none;
}
.gb-nav {
	opacity: 1;
	-webkit-opacity: 1;
	-ms-opacity: 1;
	top: 0;
	background: #fff;
}
.sidebar {
	display: none;
}
.slide-wrap li#s3 .text {
	display: none;
}
.slide-wrap li#s3 .img img {
	width: 600px;
}
.nav-line {
	display: none;
}
.nav-bullet-container {
	float: none;
	display: inline-block;
	width: 20px;
}
#slide-nav {
	width: auto;
	text-align: center;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.nav-link::before {
	border: none;
}
.nav-link::after {
	width: 10px;
	height: 10px;
}
.page2 {
	background: #00032b;
}
.page2 .wrapper {
	width: auto;
}
.page2 ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 86px;
}
.page2 li {
	width: 50%;
	height: 45%;
	overflow: hidden;
}
.page2 li .wrap {
	margin-top: -100px;
}
.page2 li p {
	display: none;
}
.page2 li .img {
	display: none;
}
.page3 .wrapper {
	margin-left: -320px;
	margin-top: -300px;
}
.page3.active .head {
	margin-left: 80px;
}
.page3.active .head .sort {
	display: none;
}
.page3 .body {
	margin-top: 80px;
}
.page3 .body li {
	display: none;
	width: 288px;
	height: 190px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}
.page3 .body li:nth-child(1),  .page3 .body li:nth-child(2) {
	display: block;
}
.page4 .wrapper {
	margin-left: -320px;
	padding-left: 70px;
	margin-top: -260px;
}
.page4 .head .list {
	display: none;
}
.page4.active .list li {
	display: none;
}
.page4.active .list li:nth-child(1),  .page4.active .list li:nth-child(2) {
	display: block;
}
.page4 .body {
	margin-top: 140px;
}
.page5 .wrapper {
	margin-left: -320px;
	padding-left: 100px;
	margin-top: -340px;
}
.page5 .img-wrap {
	border: none;
}
.page5 .text {
	border: none;
	margin-left: 100px;
	font-size: 16px;
	width: 360px;
}
.page5 .text p {
	font-size: 16px;
	line-height: 1.7;
}
.page5 .text h2 {
	display: none;
}
.page5 .nav {
	display: none;
}
.page6 {
	background: #1f2f19;
}
.page6 .wrapper {
	margin-left: -320px;
	margin-top: -260px;
}
.page6 .img {
	margin-left: 150px;
}
.page6 .text {
	text-align: center;
	margin-top: 40px;
}
.page6 .time {
	width: auto;
	float: none;
	display: block;
}
.page6 .tele {
	float: none;
	display: block;
	text-align: center;
	width: auto;
	margin-top: 50px;
}
.page6 .tele img {
	display: inline-block;
}
.page6 .tele .qq {
	margin-top: 40px;
}
.page6 .info {
	display: none;
}
.footer {
	display: none;
}
#nav {
	width: 640px;
	left: 50%;
	margin-left: -320px;
}
.nav_main ul {
	width: auto;
	padding: 0 50px;
}
.nav_main ul li {
	width: 190px;
}
}
