@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0;} 
body, button, input, select, textarea {font-family:"Microsoft YaHei","微软雅黑",SimHei,"MicrosoftJhengHei","华文细黑",STHeiti;} 
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:100;} 
address, cite, dfn, em, var {font-style:normal;} 
code, kbd, pre, samp {font-family:couriernew, courier, monospace;} 
/*small{ font-size:12px;} */
ul, ol {list-style:none;} 
a {text-decoration:none;} 
a:hover {text-decoration:none;} 
sup {vertical-align:text-top;}
sub{vertical-align:text-bottom;} 
legend {color:#000;} 
fieldset, img {border:0;vertical-align:middle} 
button, input, select, textarea {font-size:100%;} 
table {border-collapse:collapse; border-spacing:0;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html > body .clearfix { display: inline-block; width: 100%; }
* html .clearfix { /* Hides from IE-mac \*/ height: 1%; /* End hide from IE-mac */ }
.clear{ clear:both;}
